<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true">
    <php>
        <env name="KERNEL_CLASS" value="App\Kernel"/>
        <env name="APP_ENV" value="test"/>
        <env name="TELEMETRY_ENABLED" value="false" force="true"/>
        <env name="DATABASE_URL" value="postgresql://test:test@localhost:5432/test_db?serverVersion=17&amp;charset=utf8"/>
        <env name="DEFAULT_URI" value="http://localhost"/>
        <env name="OTEL_EXPORTER_OTLP_ENDPOINT" value="http://localhost:4318"/>
        <env name="OTEL_SERVICE_NAME" value="test-app"/>
        <env name="OTEL_SERVICE_VERSION" value="1.0.0"/>
        <env name="OTEL_ENVIRONMENT" value="test"/>
        <env name="JWT_SECRET" value="test-secret-key-for-phpunit-tests-32chars" force="true"/>
        <env name="JWT_ALGORITHM" value="HS256" force="true"/>
    </php>
    <testsuites>
        <testsuite name="telemetry-core">
            <file>tests/Telemetry/NullTelemetryServiceTest.php</file>
            <file>tests/Telemetry/RealTelemetryServiceTest.php</file>
            <file>tests/Telemetry/TrackOperationTest.php</file>
            <file>tests/Telemetry/TelemetryFactoryTest.php</file>
            <file>tests/Telemetry/DependencyInjectionTest.php</file>
            <file>tests/Telemetry/AttributeGroupManagerTest.php</file>
            <file>tests/Telemetry/FilteringTest.php</file>
            <file>tests/Telemetry/MonologOTelHandlerTest.php</file>
        </testsuite>
        <testsuite name="telemetry-config">
            <directory>tests/Telemetry/Config</directory>
        </testsuite>
        <testsuite name="telemetry-integration">
            <directory>tests/Telemetry/Integration</directory>
        </testsuite>
        <testsuite name="telemetry-profiles">
            <directory>tests/Telemetry/Profiles</directory>
        </testsuite>
        <testsuite name="telemetry-frontend-events">
            <file>tests/Telemetry/Frontend/FrontendTelemetryEventTest.php</file>
            <file>tests/Telemetry/Frontend/TelemetryControllerTest.php</file>
        </testsuite>
        <testsuite name="telemetry-e2e">
            <directory>tests/Telemetry/E2E</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
